<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Conequate_Core::conequate"
             title="Conequate"
             module="Conequate_Core"
             sortOrder="50"
             resource="Conequate_Core::menu" />
    </menu>
</config>
